{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
  {{ partial "mobile_nav_toggle.html" . }}
  <div class="row">
    <div class="col-lg-8">
      <div class="content-column-content">
         <h3>{{ .Title }}</h3>
         {{ .Content }}
         <h5>You can find me on:</h5>
         {{ partial "social_buttons_in_contact.html" . }}
         <h5>Or, send me a message here:</h5>
         {{ with .Site.Params.email }}
         <form id="contact-form" class="contact-form form" method="post" action="https://formspree.io/{{ . }}">
           <div class="controls">
             <div class="form-group">
               <input type="text" name="name" id="name" placeholder = "Your name" required="required" class="form-control">
             </div>
             <div class="form-group">
               <input type="email" name="email" id="email" placeholder = "Your email" required="required" class="form-control">
             </div>
             <div class="form-group">
               <input type="subject" name="subject" id="subject" placeholder = "Subject" required="required" class="form-control">
             </div>             
             <div class="form-group">
               <textarea rows="4" name="message" id="message" placeholder="What's on your mind?" required="required" class="form-control"></textarea>
             </div>
             <div>
               <input type="submit" value="Send" class="btn btn-ghost">
             </div>
           </div>
         </form>
         {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}
